<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid News Everyone</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="wrapper">
    <div class="sidebar"></div>
    <div id="app">
        <div class="overlay" v-if="showedNews"></div>
        <div class="grid" :style="gridStyle">
            <template v-for="item in activeNews">
                <div @click="show(item)"  v-if="item.imageExist" class="image"
                     :style="{'grid-area': 'i' + item.id, transition: 'all 4s ease' }">
                    <img :src="item.image[item.template.imageType]" :alt="item.id">
                </div>
                <div @click="show(item)" class="text" :style="{'grid-area': 't' + item.id}">{{item.text}}</div>
            </template>
            <div class="popup" style="grid-column-start: 1; grid-column-end: 4; grid-row-start: 1; grid-row-end: 3"> </div>
        </div>
        <button @click="addBlock">More news!</button>
    </div>s
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./vue/vue.js"></script>
<script src="./algorithms.js"></script>
<script src="./config.js"></script>
<script src="./app.js"></script>
</body>

</html>