<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid News Everyone</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="grid" :style="gridStyle">
            <div v-for="item in activeNews" v-if="item.imageExist" class="image" :style="{'grid-area': 'i' + item.id}">
                <img :src="getImage(item.id)" :alt="item.id">
            </div>
            <div v-for="item in activeNews" class="text" :style="{'grid-area': 't' + item.id}">{{item.text}}</div>
        </div>
        <button @click="addBlock">More news!</button>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./vue/vue.js"></script>
    <script src="./algorithms.js"></script>
    <script src="./config.js"></script>
    <script src="./app.js"></script>
</body>

</html>