<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid News Everyone</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <!-- <div class="sidebar"></div> -->
        <div id="app">
            <div class="overlay" v-if="showedNews" @click="closeNews"></div>
            <div class="grid" :style="gridStyle">
                
                <template v-for="item in activeNews">
                    <div @click="showNews(item)" v-if="item.imageExist" class="image" :style="{'grid-area': 'i' + item.id}">
                        <img :src="item.image[item.template.imageType]" :alt="item.id">
                    </div>
                    <div @click="showNews(item)" class="text" :style="{'grid-area': 't' + item.id}">
                        <h3>{{item.title}}</h3>
                        {{item.text}}
                    </div>
                </template>
                
                <div class="popup" :style="popupStyle">
                    <div class="popup_image" :style="popupImageStyle">
                        <img v-if="showedNews" :src="showedNews.image[1]" alt="showedNews.id">
                    </div>
                    <div class="popup_text" :style="popupTextStyle">
                        <h3>{{showedNews.title}}</h3>
                        <p>{{showedNews.detailText}}</p>
                        
                        <div class="popup_footer">
                            <p>{{showedNews.date}}</p>
                            <button @click="closeNews">Вернуться к новостям</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="more_news_button" @click="addBlock">More news!</button>
        </div>
    </div>

    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="./vue/vue.js"></script>
    <script src="./algorithms.js"></script>
    ,<script src="./data.js"></script>
    <script src="./config.js"></script>
    <script src="./app.js"></script>
</body>

</html>