.grid {
  display: grid;
  grid-auto-columns: 325px;
  grid-auto-rows: 300px;
  grid-gap: 10px;
}

.text {
  box-sizing: border-box;
  padding: 15px;
}

.text, .image {
  text-align: center;
  overflow: hidden;
  font-size: 1.1em;
}

.more_news_button {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background-color: rgb(226, 131, 131);
  border-radius: 20px;
  font-size: 2em;
}

.wrapper {
  display: flex;
}

.sidebar {
  box-sizing: border-box;
  min-width: 230px;
  height: 1000px;
  flex-basis: 300px;
  margin: 20px 35px;
  background: #8ca0ff;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
}

.popup {
  background-color: white;
  z-index: 12;
  display: grid;
  grid-auto-columns: 325px;
  grid-auto-rows: 300px;
  grid-gap: 10px;
}

.popup_image_block {
  box-sizing: border-box;
  grid-area: i;
}

.popup_text_block {
  box-sizing: border-box;
  padding: 20px;
  grid-area: t;
}

.popup_text {
  height: 90%;
  overflow: hidden;
}

.popup_text_block>h2 {
  height: 10%;
}

.popup_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.popup_footer>p {
  font-size: 1.1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #00000080;
}

.close-news::before {
  content: "< ";
  color: orangered;
  font-weight: 900;
}

.text:hover, .image:hover {
  box-shadow: 4px 3px 8px 0px #0000002b;
}